header {
    
  font-size: 5rem;
  text-align: center;

}

body {
    
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    background-color:rgb(251, 239, 13) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
    sans-serif;
    /* font-size: 20px; */
    text-align: left;
    object-fit: cover;
}

button {
    object-position: center;
}

.rpsimage {
   
    
    text-align: center;
    background-position: center;
}

.instructions {
    
    text-align: left;
    
}

#throws-text {

    text-align: center;
}