header {
    
  font-size: 5rem;
  text-align: center;

}

.rpsimage {
    text-align: center;
}
body {

    background-color:rgb(251, 239, 13) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
    sans-serif;
    font size: 20px;
    text-align: left;
    object-fit: cover;

}

.throws-text {

    text-align: center;
}

    

}

button {
    object-position: center;
}
.instructions {

    text-align: justify;


}

ul {
    text-align: center;
}